<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS FORUM</title>
    <link rel="stylesheet" href='/static/css/style.css'>
</head>
<body>
    <nav>
        <div id="nav">
            <div class="navs">
               <a href="">Home</a> 
            </div>
            <div class="navs">
               <a href="">Authors</a> 
            </div>
            <div class="navs">
                <a href="">News</a> 
            </div>
            <div class="navs">
                <a href="">Me</a> 
            </div>
        </div>
    </nav>
    <main>
        <div id="main">
            
        </div>
    </main>
</body>
</html>