<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS FORUM </title>
    <link rel="stylesheet" href='/static/css/style.css'>
</head>
<body>
    <nav>
        <div id="nav">
            <div class="navs">
               <a href="/">Home</a> 
            </div>
            <div class="navs">
                <a href="/write_an_article">Write an article</a> 
            </div>
            <div class="navs">
                <a href="">Me</a> 
            </div>
            <div class="navs">
                <a href="/logout">Log out</a> 
            </div>
        </div>
    </nav>
    <main>
        <div id="main">
            {% if articles %}
            {% for article in articles %}
                <div id="article_place">
                    <p style="font-weight: 900;">{{ article[2] }}:</p>
                    <p style="font-weight: 900;">{{ article[0] }}</p>
                    <p style="font-weight: 200;">Article: {{ article[1] }}</p>
                    <br><br>
                    
                        <input type="hidden" name="article_id" value="{{ article[3] }}">
                    </form>
                    
                    {% if comments[article[3]] %}
                        <p>Comments:</p>
                        {% for comment in comments[article[3]] %}
                            <p>{{ comment[0] }}: {{ comment[2] }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </main>
</body>
</html>