<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS FORUM</title>
    <link rel="stylesheet" href='/static/css/style.css'>
</head>
<body>
    <nav>
        <div id="nav">
            <div class="navs">
               <a href="/">Home</a> 
            </div>
            <div class="navs">
                <a href="">Me</a> 
            </div>
            <div class="navs">
                <a href="/logout">Log out</a> 
            </div>
            
        </div>
    </nav>
    <main>
        <div id="main">
            {% if articles %}
                {% for article in articles %}
                        <div id="article_place">
                            <p style="font-weight: 900;">Username: {{ article[2] }}</p>
                            <p style="font-weight: 900;">Header: {{ article[0] }}</p>
                            <p style="font-weight: 200;">Article: {{ article[1] }}</p>
                        </div>
                {% endfor %}
            {% endif %}
        </div>
    </main>
</body>
</html>