<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS FORUM | WrIte an article</title>
    <link rel="stylesheet" href='/static/css/style.css'>
</head>
<body>
    <nav>
        <div id="nav">
            <div class="navs">
               <a href="/">Home</a> 
            </div>
            <div class="navs">
                <a href="">Me</a> 
            </div>
            <div class="navs">
                <a href="/logout">Log out</a> 
            </div>
        </div>
    </nav>
    <main>
        <div id="main_article">
            <p style="font-size: 200%; font-weight: bolder; text-align: center;">Write a new article</p>
            <div id="article_form">
                <form action="" method="post">
                    <p style="font-size: 120%; font-weight: bolder;">Header</p>
                    <input type="text" name="header">
                    <br><br>
                    <p style="font-size: 120%; font-weight: bolder;">Article</p>
                    <textarea name="article" id="" cols="70" rows="14"></textarea>
                    <br>
                    <button type="submit" value="submit" style="width: 12%;height: 30px;">Post</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>